.selector {
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
}

.selector button {
    align-self: flex-end;

}

#title {
    color: #213547;
}

#save {
    margin-top: 40px;
    margin-right: 55px;
}
