.selector {
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
}

.selector button {
    align-self: flex-end;
}

h3 {
    color: #4D6A9A;
    margin-top: 0;
    margin-bottom: 20px;
}

#title {
    color: #213547;
}

#entry {
    margin-top: 50px;
}

#save {
    margin-top: 20px;
    margin-right: 20px;
}
