.concentration-small {
    display: grid;
    width: 300px;
    height: 300px;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-block-end: 25px;
}

.concentration-medium {
    display: grid;
    width: 300px;
    height: 400px;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-block-end: 25px;
}

.concentration-large {
    display: grid;
    width: 320px;
    height: 320px;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-block-end: 25px;
}

body {
    background-color: #FDEEBE;
}

h2 {
    color: #D05F5F;
}

.game-name {
    display: grid;
    align-content: end;
    align-items: end;
    text-align: end;
    max-width: 150px;
    padding-left: 15px;
    padding-bottom: 20px;
    color: #959fa8;
}

.game-name span {
    color: #69d1ca;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.card .back,
.card .front {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-items: center;
    align-items: center;
    color: #242424;
    background-color: #cec8b5;
    border-radius: 12px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
}

.card .front img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid #88A5D4;
    object-fit: cover;
}

.flip {
    transform: rotateY(180deg);
}
