h4 {
    color: #404040;
    text-align: center;
}

h5 {
    color: #404040;
    text-align: center;
}

#hiragana {
    color: #D05F5F;
}

#katakana {
    color: #4D6A9A;
}

#playing-cards {
    color: #73683F
}
