.records {
    font-family: 'Potta One', cursive;
    width: 290px;
}

h4 {
    color: #404040;
    text-align: center;
}

#user-name {
    color: #55a8a2;
    text-align: center;
    padding-right: 15px;
}

#achievement {
    padding-left: 10px;
}

span {
    color:#55a8a2;
}

h5 {
    color: #404040;
    text-align: center;
}

#hiragana {
    color: #D05F5F;
}

#katakana {
    color: #4D6A9A;
}

#playing-cards {
    color: #73683F
}
