.buttonAdd:hover {
    transition: all 0.4s;
    transform: scale(150%);
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

header {
    left: 0;
    right: 0;
    position: fixed;
    background-color: #7cbec4;
    z-index: 1000;
}
main {
    position: relative;
    padding-top: 120px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: LightBlue;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal h2 {
    margin-top: 0;
}

.modal button {
    margin-top: 10px;
}